.portfolio-box{
    width:200px;
    background: #000;
    line-height: 0;
}
.portfolio-box img{
    width: 100%;
    height:133px;
    opacity:.8;
    transition: all 0.4s ease-out;
}
.portfolio-box:hover img{
    opacity: 1;
}
